.page {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	width: 100%;
	padding-bottom: 64px;
	background: rgba(#3264C8, .1);

	&Wrapper {
		width: 100%;
		max-width: 768px;
		padding: 0 20px;
	}
}
