.search {
	display: flex;

	&Input {
		width: 100%;
		height: 48px;
		padding: 8px 16px;
		border: 1px solid #fff;
		border-bottom: 1px solid #3264C8;
		background: #fafafa;
		color: #000;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
    
		&:hover {
			box-shadow: 0 0 2px 1px rgba(#3264C8, .5);
			border: 1px solid rgba(#3264C8, .5);
		}
	
		&:focus {
			box-shadow: 0 0 2px 1px rgba(#3264C8, .5);
			border: 1px solid rgba(#3264C8, .5);
		}
		
		&::placeholder {
			color: #000;
		}
	}

	&Button {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 48px;
		padding: 0 24px;
		background: #3264C8;
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
	
		&:hover {
			background: #4C77CF;
			box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .5);
			cursor: pointer;
			box-shadow: 0 0 2px 1px rgba(#3264C8, .5);
		}
	
		&:active {
			background: #658BD6;
			box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .5);
			box-shadow: 0 0 2px 1px rgba(#3264C8, .5);
		}
	}	
}

@media (max-width: 414px) {
  .search {
    &Input {
      height: 36px;
      font-size: 12px;
    }

    &Button {
      height: 36px;
		  padding: 0 16px;
      font-size: 12px;
    }
  }
}
