.card {
	width: 100%;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #e6e6e6;
	background: #fff;

	&Wrapper {
		padding: 24px;
		border-radius: 4px;
	}

	&:hover {
		box-shadow: 0 0 2px 1px rgba(#3264C8, .5);
		border: 1px solid rgba(#3264C8, .5);
	}

	&Avatar {
		width: 100%;
		height: auto;
		padding: 8px;
	}

	&Username {
		display: flex;
		align-items: center;
		height: 24px;
		margin: 0;
		padding: 0 16px;
		color: #000;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Roboto', sans-serif;
	}

	a {
		text-decoration: none;
	}
}

@media (max-width: 576px) {
  .card {
    margin-top: 12px;
  }
}

@media (max-width: 414px) {
  .card {
    margin-top: 8px;

    &Username {
      height: 18px;
      padding: 0 12px;
      font-size: 12px;
    }
  }
}
